/* global styles */
:root {
  --primary-color: #000000;
  --background-color: #ebebeb;
  --btn-color: #0a85d1;
  --primary-font-family: "Dosis", sans-serif;
}
body {
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero-slider .swiper-slide {
  display: flex;
  align-items: center;
  height: 500px;
}

.hero-content {
  text-align: left;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}
.hero {
  background-color: var(--background-color);
}
