/* global styles */
:root {
  --primary-color: #000000;
  --background-color: #ebebeb;
  --btn-color: #0a85d1;
  --primary-font-family: "Dosis", sans-serif;
}
body {
  font-family: var(--primary-font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero-slider .swiper-slide {
  display: flex;
  align-items: center;
  height: 500px;
}

.hero-content {
  text-align: left;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  transition: color 0.3s ease;
}

/* start in featured collection section */

 /* .main-section-text {
      text-align: center;
      margin-bottom: 40px;
      padding: 60px 0px;
    } */

    .main-section-text h3 {
      padding: 20px;
       text-align: center;
      font-size: 28px;
      font-weight: bold;
    
    } 
    .card{
      position: relative;
      /* width: 250px; */
      text-align: center;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) ;
    }
    /* .card img{
      width: 100%;
      border-radius: 8px;
    } */

    .badge-new{
      position: absolute;
      top: 10px;
      left:10px;
      background: #000;
      color: #fff;
      padding: 12px;
      font-size: 12px;
      border-radius: 6px;
    }
    .badge-dicount{
      position: absolute;
      top: 10px;
      right: 10px;
      background:#ff3b3b ;
      color: #fff;
      font-size: 12px;
      padding: 12px;
      border-radius: 6px;
    }

    .countdown{
      position: absolute;
      bottom: 90px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background: #fff;
      border-radius: 8px;
      padding: 6px 12px;
      display: flex;
      gap: 8px;
      font-size: 16px;
      width: 80%;
      
    }
   
    .card-text{
      color: #19749f;
      font-size: 18px;
      font-weight: 700;
      font-style: bold;
    }
    .offer{
      color: #777;
    }




    /* end of featured collection section*/





/* start reviews section */

.custom-arrow {
  /* position: absolute; */
  border: none;
  outline: none;
  background: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}
.main-section-text {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px 0px;

}

.main-section-text h3 {
  font-size: 28px;
  font-weight: bold;
}

.card-text {
  color: #19749f;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
}
.offer {
  color: #777;
}

/* end of featured collection section*/

.hero {
  background-color: var(--background-color);
}
