/* global styles */
:root {
  --primary-color: #000000;
  --secondary-color: #f0f0f0;
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Plus Jakarta Sans", sans-serif;
}
/* start header */
.promotion {
  background-color: var(--primary-color);
  color: #ffffff;
}
.promotion a {
  color: #ffffff;
}
/* end header  */
